<!DOCTYPE html>
<html>
    <head>
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="maincss.css">


    </head>

    <body>
        <h1 id='title'>todo list</h1>
        <div id='app'>
            <input id='newItem' v-model='item' type='text'>
            <button id='submit' v-on:click='addItem(item)'>add</button>

            <ul style='list-style-type: none; margin: 0; padding: 0;'>
            <li id='listItem' v-for='listItem in listItems'>{{listItem}} <span id='remove' v-on:click='removeItem(listItem)' class="glyphicon glyphicon-remove"></span></li>
            </ul>

        </div>


        <script src="main.js"></script>
    </body>

</html>